@font-face{
  src: url(/css/SpongeboyRegular-gx2n6.otf);
  font-family: sponge;
}

body{
  height: 100vh;
  background-image: url("/css/background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.board{
    margin: 5% 40%;
    height: 610px;
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-items: center;
}

.board > div {
  font-family:sponge;
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  color: yellow;
  background-color: #94bbeea4;
  justify-content: center;
  justify-items: center;
  font-size:125px;
  text-align-last: center;
}
.endGame{
  display: none;
  width: 200px;
  background-color: rgba(205,133,63, 0.8);
  margin-left: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-size: 2em;
}
button{
  height: 40px;
  width: 80px;
  background-color: #94bbeea4;
  font-family: sponge;
  color: yellow;
  border-radius: 40px;
  font-size: 13px;
}

.hidden{
  display: none;
}

.container{
  margin: 10% 40%;
  max-height: 610px;
  max-width: 610px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "header header header"
                       "options options options"
                       "options options options";
  justify-content: center;
  justify-items: center;
}
h1{
  grid-area: header;
  font-size: 50px;
  color: yellow;
  font-family: sponge;
  justify-content: center;
  justify-items: center;
}

.options{
  display: grid;
  grid-area: options;
  max-height: cover;
  max-width: 40vw;
  font-size: 20px;
  align-self: center;
  justify-content: center;
  justify-items: center;
  color: magenta;
  background-image: url("/css/spongebob.png");
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100px;
  font-family: sponge;
}

#easy{
  align-items: center;
  justify-content: center;
  margin-top: 300px;
  border: solid black;
  background-color: purple;
  color: white;
  margin-bottom: 10px;
  padding-right:10px;
  font-family:sponge;
}
#hard{
  align-items: center;
  justify-content: center;
  border: solid black;
  background-color: blue;
  color: white;
  margin-bottom: 20px;
  font-family:sponge;
}